*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: arial;
user-select: none;
}
body{
min-height: 100vh; 
min-height: -webkit-fill-available;
/*  background: #1a2730; */
background: #20303d;
overflow: hidden;
}
html{
height: -webkit-fill-available; 
}
#result-div *{
overflow: auto !important;	
}
.setting-blur > *:not(#setting){ 
opacity: 0.9;
filter: brightness(50%) blur(2px);
pointer-events: none;
}
.blackbox-blur > *:not(#blackbox){ 
opacity: 0.9;
filter: brightness(50%) blur(2px);
pointer-events: none;
}


*::-webkit-scrollbar{
width: 0px !important;
}
*::-webkit-scrollbar-track {
background: transparent !important;
width: 0px !important;
}


/* navbar */
#nav{
width: 100%;
padding: 10px 8px;
background: #20303d;
color: #fff;
display: flex;
align-items: center;
}
#nav div{
display: flex;
align-items: center;
}
#nav div i{
font-size: 40px;
background: linear-gradient(#57b9e0, #57b9e0);
-webkit-background-clip: text; -webkit-text-fill-color: transparent;
}
#nav div h1{
font-size: 22px;
}


/* buzz */
#buzz{
width: 100%;
background: #57b9e0;
height: 2px;
}


/* side menu */
#menu{
width: fit-content;
height: 100%;
background: #20303d;
color: #fff;
margin: 0;
padding: 10px 0;
}
#menu h1{
width: 100%;
padding: 5px 12px;
margin: 0 0 14px 0;
transition: background 0.1s;
display: flex; 
white-space: nowrap;
align-items: center !important;
}
#menu h1:active{
background: #4e96bc;
}
#menu h1 i{			
font-size: 24px;
color: #fff;
opacity: 0.8;
}
#menu h1 span{
display: none;
font-size: 16px;
margin-left: 14px;
font-weight: 500;
}
@media(min-width:600px){
#menu h1 span{
display: block;
}
#menu{
width: 200px;
}}



/* tabs */
#tabs{
position: absolute;
top: 60px;
left: 48px;
width: calc(100% - 48px);
height: 48px;	
background: #1a2730;
z-index: 99;
display: flex;
align-items: center;
overflow: scroll;
border-radius: 10px 10px 0 0;
}
#tabs div{
max-width: 150px;
width: 140px;
height: 33px;
display: flex;
align-items: center;
justify-content: space-between;
background: rgba(0,0,0,0.4);
margin: 0 0 0 1rem;
padding: 3px 5px 3px 8px;
border-radius: 4px;
}
#tabs div img{
width: 20px;
height: 20px;
}
#tabs div p{
font-size: 13.5px;
font-weight: 401;
color: #fff;
margin-left: 13px;
opacity: 0.8;
white-space: nowrap;
overflow: hidden !important;
text-overflow: ellipsis;
}
#tabs div i{
font-size: 22px;
color: #fff;
font-weight: 501;
opacity: 0.5;
margin-left: 15px;
padding: 2px 0 0 0;
}
@media(min-width: 600px){
#tabs{
left: 200px;
width: calc(100% - 230px);
}}



/* textarea */
#code-cover{
position: absolute;
top: 108px;
left: 48px;
width: calc(100% - 48px);
height: calc(100% - 142px); 
margin-bottom: 70px;
border-radius: 0 0 10px 10px;
overflow: hidden;
}
.textarea{
width: 100%;
height: 100%;
line-height: 24px;
position: absolute;
z-index: 9;
}
.main-code{
z-index: 99 !important;
}
.main-tab{
border-bottom: 1.5px solid #dcdcdc;
}

@media(min-width: 600px){
#code-cover{
position: absolute;
left: 203px;
width: calc(100% - 230px);
}}




.ace_editor, .ace_editor * {
font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important; 
font-size: 14px !important; 
font-weight: 400 !important; 
letter-spacing: 0 !important;
}.ace_mobile-menu { display: none !important; }









/* result div */
#result-div{				
width: 100%;	
height: 100vh;
position: fixed;	
z-index: 999;	
top: 0;
background: #fff;
display: none; 
overflow: auto !important;
}
#result-nav{
width: 100%;
height: 60px;
background: #20303d;	
display: flex; 
align-items: center;
padding: 12px 10px;
}
#result-nav i{
font-size: 30px;
font-weight: 401;
color: #fff;
margin-left: 5px;
opacity: 0.8;
}
#emulator_open{
margin-left: auto;
margin-right: 0;
}
#result-nav div{
margin-left: 11px;
}
#result-nav div p:nth-of-type(1){
font-size: 15px;
line-height: 1.5;
font-weight: 401;
color: #fff;
opacity: 0.8;
}
#result-nav div p:nth-of-type(2){
font-size: 12px;
}
#result-link{
text-overflow: ellipsis; 
overflow: hidden;
width: 250px;
color: #fff;
opacity: 0.4;
}
#result-code{
width: 100%;
outline: none;
border: none;
height: calc(100% - 60px);
color: #57b9e0;
background: #10171d;
padding: 5px 12px !important;
user-select: none !important;
pointer-events: none;
word-break: break-all;
overflow: scroll;
font-size: 16.5px;
font-weight: 401;
display: block;
overflow: auto !important;
}

#result-code-div{
width: 100%;
outline: none;
border: none;
height: calc(100% - 60px);
padding: 5px 8px;
word-break: break-all;
overflow: auto !important;
font-size: 16px;
font-weight: 400;
display: none;
}
#mycanvas{
width: 100%;
height: auto;
outline: none;
border: none;
overflow: auto !important;
user-select: none;
word-break: break-all;
display: none;
}




#result-error{
width: 280px;
background: #fff;
border-top-left-radius: 0;
border-radius: 4px;
position: fixed;	
z-index: 9999;	
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
box-shadow: 0px 1.5px 4px 2px #636363;
padding: 12px 15px 14px 15px;
display: none;
word-break: break-all;
}

/*  
#result-error:before{
content: "Error";
color: red;
font-weight: 401;
position: absolute;
bottom: 100%;
left: 0;
}
 */
 
 
#result-error p:nth-child(2){
width: 100%;
text-align: right;
margin-top: 2rem;
}
#error-alert{
color: red;
}
#result-error p:nth-child(2) span{
font-weight: 401;
background: var(--wbg);
padding: 6px 10px;
border-radius: 4px;
}
/* virtual alert*/
#v_alert{
background: #606060;
position: absolute;
z-index: 99;
transform: translate(-50%,50%);
left: 50%;
bottom: 35%;
padding: 9.4px 16.8px;
border-radius: 50px;
display: none; 
align-items: center;
justify-content: center;
transition: display 3s;
}
#v_alert p{
color: #fff;
font-size: 14.2px;
font-weight: 400.5;
}






/* setting */
#setting{
width: 90%;
max-width: 400px;
background: #20303d;
position: absolute;
transform: translateX(-50%);
top: 2rem;
left:50%;
border-radius: 5px;
z-index: 9999;
padding: 5px 10px 10rem 10px;
box-shadow: 0 0 3px 1px #000;
display: none;
}
#setting i{
font-size: 30px;
color: #fff;
position: absolute;
right: 15px;
top: 15px;
border-radius: 100%;
padding: 3px;
}
#setting i:active{
background: rgba(255,255,255,0.1);
}
#setting h1{
font-size: 24px;
color: #fff;
margin: 10px 10px 18px 10px;
}
#setting div{
display: flex;
align-items: center;
margin: 10px 10px;
}
#setting div p{
font-size: 15px;
font-weight: 401;
margin-right: 1rem;
color: #fff;
opacity: 0.8;
}
#setting div select{
padding: 2px 4px;
border-radius: 4px;		
border: 2px solid #000;
font-size: 13px;
color: #fff;
outline: none;
background: rgba(0,0,0,0.1);
}
#shortcut{
display: flex;
flex-direction: column;
align-items: flex-start !important;
margin: 1rem 10px 10px 10px !important;
}
#shortcut p{
margin: 5.5px 0 !important;
}



/* blackbox */
#blackbox{
width: 90%;
height: 550px;
max-width: 500px;
background: #000;
position: absolute;
transform: translateX(-50%);
top: -2.5rem;
left:50%;
border-radius: 5px;
z-index: 9999;
box-shadow: inset 5px 0px 0px 0px rgba(0,0,0,0.75);
filter: invert(100%);
display: none;
}
#blackbox iframe{
width: 100%;
height: 100%;
}
#blackbox div{
width: 100%;
height: 100px;
background: #f9f9f9;
position: absolute;
top: 0;
display: flex;
align-items: flex-end;
justify-content: space-between;
padding: 10px 20px;
}
#blackbox div h1{
font-size: 24px;
}
#blackbox div i{
font-size: 30px;
color: #000;
border-radius: 100%;
padding: 3px;
}
#blackbox div i:active{
background: rgba(0,0,0,0.1);
}
